#workbenchPageContent, .CanvasZone {
  max-width: 100% !important;
}

.ms-Grid.hidden .gridContentHide {
  display: none;
}
.ms-SearchBox {
  border-radius: 20px;
}

#spPropertyPaneContainer, #spPropertyPaneContainer [role="dialog"] {
  width: 450px;
}

/* .apexcharts-grid {
  display: none;
} */
