.columnContainer {
  display: flex;
  align-items: center;
  .columnHeaderValue, .columnValue {
    width: 165px;
    padding: 0px 5px;
  }
  .columnCancel {
    width: 30px;
  }
  .iconInnerWrapper {
    display: flex;
    padding: 0px 5px;
    .iconValue {
      margin-right: 15px;
    }
  }
}
