@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import 'node_modules/office-ui-fabric-react/dist/css/fabric.css';


.notificationMessageWrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	.innerPropWrapper {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		align-items: center;
		font-size: 20px;

		span {
			padding-left: 10px;
		}
	}
}

.taskListWrapper {
	position: relative;
	min-height: 650px;
	padding: 0 0px;

	.togggleSearchWrapper {
		display: flex;
    	justify-content: flex-end;
		.searchBoxContainer {
			padding: 10px 0;
			display: flex;
			justify-content: flex-end;
			margin-left: 15px;
			input {
				border: none;
			}
	   }
		.toggleWrapper {
			position: relative;
			display: flex;
			justify-content: flex-end;
			margin: 0px 0;
		}

		.toggleWrapper > div {
		display: flex;
		align-items: center;
		margin: 0;

		button {
			margin-left: 10px;
			min-width: auto;
		}

		label {
			margin: 0 0 0 10px;
			text-align: right;
			min-width: 54px;
		}
	}
}

	[role=menubar] {
		padding-left: 0px;
		padding-right: 0px;
	}

	.container {
		max-width: 700px;
		margin: 0px auto;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	}

	.row {
		@include ms-Grid-row;
		@include ms-fontColor-white;
		background-color: $ms-color-themeDark;
		padding: 20px;
	}

	.column {
		@include ms-Grid-col;
		@include ms-lg10;
		@include ms-xl8;
		@include ms-xlPush2;
		@include ms-lgPush1;
	}

	.title {
		@include ms-font-xl;
		@include ms-fontColor-white;
	}

	.subTitle {
		@include ms-font-l;
		@include ms-fontColor-white;
	}

	.description {
		@include ms-font-l;
		@include ms-fontColor-white;
	}

	.button {
		// Our button
		text-decoration: none;
		height: 32px;

		// Primary Button
		min-width: 80px;
		background-color: $ms-color-themePrimary;
		border-color: $ms-color-themePrimary;
		color: $ms-color-white;

		// Basic Button
		outline: transparent;
		position: relative;
		font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
		-webkit-font-smoothing: antialiased;
		font-size: $ms-font-size-m;
		font-weight: $ms-font-weight-regular;
		border-width: 0;
		text-align: center;
		cursor: pointer;
		display: inline-block;
		padding: 0 16px;

		.label {
			font-weight: $ms-font-weight-semibold;
			font-size: $ms-font-size-m;
			height: 32px;
			line-height: 32px;
			margin: 0 4px;
			vertical-align: top;
			display: inline-block;
		}
	}

	.downloadAlertText {
		font-size: 12px;
		display: block;
		margin-top: 5px;
	}

	.container {
		max-width: 700px;
		margin: 0px auto;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	}

	.row {
		@include ms-Grid-row;
		@include ms-fontColor-white;
		background-color: $ms-color-themeDark;
		padding: 20px;
	}

	.column {
		@include ms-Grid-col;
		@include ms-lg10;
		@include ms-xl8;
		@include ms-xlPush2;
		@include ms-lgPush1;
	}

	.title {
		@include ms-font-xl;
		@include ms-fontColor-white;
	}

	.subTitle {
		@include ms-font-l;
		@include ms-fontColor-white;
	}

	.description {
		@include ms-font-l;
		@include ms-fontColor-white;
	}

	.button {
		// Our button
		text-decoration: none;
		height: 32px;

		// Primary Button
		min-width: 80px;
		background-color: $ms-color-themePrimary;
		border-color: $ms-color-themePrimary;
		color: $ms-color-white;

		// Basic Button
		outline: transparent;
		position: relative;
		font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
		-webkit-font-smoothing: antialiased;
		font-size: $ms-font-size-m;
		font-weight: $ms-font-weight-regular;
		border-width: 0;
		text-align: center;
		cursor: pointer;
		display: inline-block;
		padding: 0 16px;

		.label {
			font-weight: $ms-font-weight-semibold;
			font-size: $ms-font-size-m;
			height: 32px;
			line-height: 32px;
			margin: 0 4px;
			vertical-align: top;
			display: inline-block;
		}
	}

	.downloadAlertText {
		font-size: 12px;
		display: block;
		margin-top: 5px;
	}

	.loadingWrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}
